;; artwork
[{:db/id #db/id[:db.part/db]
  :db/ident :artwork/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :artwork/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artwork/artist
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db
  }

 ;; artist
 {:db/id #db/id[:db.part/db]
  :db/ident :artist/name
  :db/valueType :db.type/string
  :db/isComponent true
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}
 ]
